*       { margin: 0; padding: 0; box-sizing: border-box ;}
html    { height: 100%; }
body    { min-height: 100%; background-color: var(--white_grey); font-family:'Barlow Semi Condensed', sans-serif; }
h2      { font-size: 16px; }
h3      { font-size: 14px; line-height: 1.2rem;}
h4      { font-size: 12px; }

.pink       { color: #f0d4f7; }
.purple     { color: #9972d9; }
.white      { color: #ffffff; }
.grey       { color: #7c8497; }
.dark_grey  { color: #49556b; }

/* ---- CONTAINER ---- */
.container {
    background-color: var(--white_grey);
    margin: 3rem auto;
    margin-bottom: 60px;
    width: 90%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "daniel     daniel      jonathan    kira"
        "jeanette   patrick     patrick     kira";
}


/* ---- CARD ---- */
.card {
    border-radius: 10px;
    padding: 2rem;
}
.card-info {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}
.card-info .icon-quotation {
    position: absolute;
    z-index: -1;
    width: 100px;
    top: 0;
    right: 5rem;
    opacity: 70%;
}
.card-info .card-img {
    margin-right: 0.5rem;
}
.card-info .card-img .icon {
    border-radius: 50%;
    width: 50px;
}
.card-info .card-img .icon-pink {
    border-radius: 50%;
    border: 2px solid #8963c6;
    width: 50px;
}
.card-info .card-name {
    line-height: 1.2rem;
}

.card-text-1 {
    position: relative;
    z-index: 0;
    line-height: 1.5rem;
    padding: 0.7rem 0;
}

#daniel     { grid-area: daniel; background-color: hsl(263, 55%, 52%); }
#jonathan   { grid-area: jonathan; background-color: hsl(217, 19%, 35%); }
#kira       { grid-area: kira; background-color: white; box-shadow: 10px 10px 5px #dfe3ec; }
#jeanette   { grid-area: jeanette; background-color: white; box-shadow: 10px 10px 5px #dfe3ec; }
#patrick    { grid-area: patrick; background-color: hsl(219, 29%, 14%); }


/* ---- RESPONSIVE ---- */
@media (max-width: 1100px) {
    .container {
        width: 80%;
    }
    #daniel     { grid-row: 1; grid-column: 1/5; }
    #jonathan   { grid-row: 2; grid-column: 1/5; }
    #jeanette   { grid-row: 3; grid-column: 1/5; }
    #patrick    { grid-row: 4; grid-column: 1/5; }
    #kira       { grid-row: 5; grid-column: 1/5; margin-bottom: 60px; }
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    .card .card-info .icon-quotation {
        right: 0;
    }
}
